notes.md
env/
logs/
images/
models/
__pycache__
.pyc

temp-images/

pretrained/
storyboards/
collab-content/
songs/

*.pth
model/

/config.json
.pytest_cache/
AutoMusicVideo.zip

.env
service-keys/

*.ipynb

*-jobs.json
gpc.env
build/
*.egg-info