accelerate==0.20.3
annotated-types==0.5.0
beartype==0.14.1
braceexpand==0.1.7
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
clip-anytorch==2.5.2
CoCa-pytorch==0.0.7
dalle2-pytorch==1.15.1
einops==0.6.1
ema-pytorch==0.2.3
embedding-reader==1.5.1
filelock==3.12.2
fsspec==2023.1.0
ftfy==6.1.1
huggingface-hub==0.16.4
idna==3.4
importlib-metadata==6.7.0
kornia==0.6.12
lpips==0.1.4
numpy==1.21.6
open-clip-torch==2.20.0
packaging==23.1
pandas==1.1.5
Pillow==9.5.0
protobuf==3.20.3
psutil==5.9.5
pyarrow==12.0.1
pydantic==2.1.1
pydantic_core==2.4.0
python-dateutil==2.8.2
pytorch-warmup==0.1.1
pytz==2023.3
PyYAML==6.0.1
regex==2023.6.3
requests==2.31.0
resize-right==0.0.2
rotary-embedding-torch==0.2.5
safetensors==0.3.1
scipy==1.7.3
sentencepiece==0.1.99
six==1.16.0
timm==0.9.2
torch==1.13.1
torch-fidelity==0.3.0
torchmetrics==0.11.4
torchvision==0.14.1
tqdm==4.65.0
typing_extensions==4.7.1
urllib3==2.0.4
vector-quantize-pytorch==1.6.30
wcwidth==0.2.6
webdataset==0.2.48
x-clip==0.12.2
zipp==3.15.0